<style>body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #eeeeee;
    margin: 0;
}</style>
<div class="model new post-container" >
  <%= link_to 'Back to Home', {controller: 'main', action: 'index'}, class: 'back-link' %>
  <h1 class="home-title">About Me</h1>

  <p class="about-description">
    My name is <strong>Aram Hamasaed Mohammed</strong> , i'm a Software Developer.
    Transforming Ideas into Reality:With expertise in the latest technologies, Aram Hamasaed Mohammed, turn your vision into robust software applications.
  </p>

</div>